html
    head
        title= title

        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400")
        style(type="text/css").
            html,
            body {
                margin: 0px;
                padding: 0px;

                background-color: #fafafa;
                font-family: 'Fira Sans', sans-serif;
                line-height: 1.5;
            }

            .center {
                max-width: 768px;
                margin: 0 auto;
            }

            .content {                
                height: 100%;

                padding: 16px;

                background-color: white;
                border-left: 1px solid #ebebeb;
                border-right: 1px solid #ebebeb;
            }

            .formgroup {
                margin: 0.67em 0 0.67em 0;
            }

            .formgroup > * {
                width: 100%;
            }

            form input {
                padding: 8px;
            }

            form input[type="submit"] {
                background-color: white;
                border: 1px solid #ffa947;
            }

            form input:hover[type="submit"] {
                background-color: #ffe0bf;
                border: 1px solid #ffa947;
            }

            form input:focus[type="submit"] {
                background-color: #ffad51;
                border: 1px solid #ffa947;
            }

            h1, h2 {
                font-weight: 300;
            }
        
        block head
    body
        .center.content
            block content