extends base.pug
block content
    h1 Turn my computer off!
    p Using revolutionary Node.js asynchronous blockchain Secure Shell technology, it is now possible to turn my computer off, remotely, using the internet!
    p Please don't abuse this.
    form.center(action="/sleep", method="post", style="width:50%")
        .formgroup
            label(for="time") Time until poweroff (in seconds)
            input(type="number", name="time")
        .formgroup
            label(for="message") Message to send me
            input(type="text", name="message")
        input(type="submit", value="Turn it Off!")
    h2 Links
    p
        a(href="https://github.com/ILikePizza555/sleepy/tree/master") Github
            