html
    head
        title= title

        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400")
        style(type="text/css").
            html,
            body {
                margin: 0px;
                padding: 0px;

                background-color: "#fafafa";
                font-family: 'Fira Sans', sans-serif;
                line-height: 1.5;
            }

            .center {
                max-width: 768px;
                background-color: "white";

                margin: 0 auto;

                border-left: 1px solid "#ebebeb";
                border-right: 1px solid "#ebebeb";
            }
    body
        .center
            block content